<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:getrucky.com</string>
		<string>applinks:alltrails.com</string>
		<string>applinks:www.alltrails.com</string>
		<string>applinks:strava.com</string>
		<string>applinks:www.strava.com</string>
		<string>applinks:connect.garmin.com</string>
		<string>applinks:komoot.com</string>
		<string>applinks:www.komoot.com</string>
		<string>applinks:www.mapmyrun.com</string>
		<string>applinks:www.mapmyride.com</string>
	</array>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.weatherkit</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.ruck.app.shared</string>
	</array>
</dict>
</plist>
