name: rucking_app
description: "Ruck! - The ultimate app for tracking rucking sessions."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none'

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 2.1.0+13

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  supabase_flutter: ^2.3.4
  google_sign_in: ^6.1.5
  # UI
  cupertino_icons: ^1.0.5
  flutter_svg: ^2.0.7
  cached_network_image: ^3.2.3
  flutter_cache_manager: ^3.3.1
  flutter_rating_bar: ^4.0.1
  
  # State Management
  flutter_bloc: ^9.1.0
  equatable: ^2.0.5
  flutter_riverpod: ^2.4.0
  dartz: ^0.10.1
  
  # Network
  dio: ^5.3.2
  connectivity_plus: ^6.1.3
  http: ^1.4.0
  
  # Storage
  shared_preferences: ^2.2.0
  flutter_secure_storage: ^9.2.2
  sqflite: ^2.3.0
  path: ^1.8.3
  # hive: ^2.2.3  # Removed for compatibility with pigeon
  # hive_flutter: ^1.1.0
  
  # Location and Maps
  geolocator: ^14.0.0
  location: ^5.0.3
  flutter_map: ^8.1.1
  latlong2: ^0.9.0
  
  # Health Integration
  health: ^12.1.0
  
  # Utils
  intl: ^0.20.2
  json_annotation: ^4.9.0
  permission_handler: ^12.0.0+1
  flutter_local_notifications: ^18.0.1
  image: ^4.1.7
  get_it: ^8.0.3
  firebase_core: ^3.13.1
  firebase_analytics: ^11.4.6
  firebase_messaging: ^15.1.5
  keyboard_actions: ^4.2.0
  flutter_dotenv: ^5.1.0
  fl_chart: ^0.65.0
  purchases_flutter: ^8.7.4
  url_launcher: ^6.2.5
  crypto: ^3.0.3
  app_tracking_transparency: ^2.0.6+1
  image_picker: ^1.1.2
  uuid: ^4.5.1
  flutter_image_compress: ^2.4.0
  vibration: ^2.0.0
  confetti: ^0.7.0
  share_plus: ^10.1.2
  path_provider: ^2.1.5
  screenshot: ^3.0.0
  # carousel_slider removed due to conflicts with Flutter's Material package
  
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  build_runner: ^2.4.7
  # hive_generator: ^2.0.1  # Removed for compatibility with pigeon
  mockito: ^5.4.2
  flutter_launcher_icons: ^0.14.3
  pigeon: ^25.3.1

# Configuration for flutter_launcher_icons
flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/images/go ruck yourself.png"
  adaptive_icon_background: "#CC6A2A" # Brownish-orange from our theme
  adaptive_icon_foreground: "assets/images/go ruck yourself.png"

flutter:
  uses-material-design: true
  
  assets:
    - .env
    - assets/images/
    - assets/images/paywall/
    - assets/screenshots/
    # - assets/icons/   # Commented out because directory does not exist
  
  fonts:
    - family: Roboto
      fonts:
        - asset: assets/fonts/Roboto-Regular.ttf
        - asset: assets/fonts/Roboto-Medium.ttf
          weight: 500
        - asset: assets/fonts/Roboto-Bold.ttf
          weight: 700
    - family: Bangers
      fonts:
        - asset: assets/fonts/Bangers-Regular.ttf
    - family: Inter
      fonts:
        - asset: assets/fonts/Inter-Regular.otf
        - asset: assets/fonts/Inter-Medium.otf
          weight: 500
        - asset: assets/fonts/Inter-Bold.otf
          weight: 700 