flask==3.0.0
flask-cors==4.0.1
flask-limiter==3.5.1
flask-login==0.6.3
flask-restful==0.3.10
flask-sqlalchemy==3.1.1
geopy==2.4.1
gunicorn==22.0.0
marshmallow==3.20.2
python-dotenv==1.0.1
sqlalchemy==2.0.29
supabase==2.15.0
werkzeug==3.0.1
email-validator==2.1.0.post1